html, body {
min-height: 100%;
}

.ultradark {
background-color: #54BAB9
}

.basebackgroundcolor {
background-color: #F7ECDE
}

.formcolor {
background-color: #9ED2C6
}

.form-control {
border-color: #D3D3D3;
}

.form-control:focus {
border-color: #3AAFA9;
box-shadow: red; -webkit-box-shadow: none;
}

.form-select {
border-color: #D3D3D3;
}

.form-select:focus {
border-color: #3AAFA9;
box-shadow: red; -webkit-box-shadow: none;
}

.bordergray {
border-color: #D3D3D3;
}

.carousel-item img {
object-fit: contain;
object-position: center;
overflow: hidden;
height: 75vh;
opacity: 0.8;
}

.dropdown a:hover {

    color: white;
    background-color: #E9DAC1;

}

.btn-outline-light:hover {
    color: white;
    background-color: #E9DAC1;
}

.accordion-button:not(.collapsed) {
    color: inherit;
    background: #E9DAC1;
    color: black;
}

.accordion-button:focus {
    box-shadow: 0 0 0 0.2rem rgba(79, 194, 181, 0.43);
}

.pagination {
margin: 0px !important;
margin-top: 30px !important;
}

.footer {
  opacity: 1;
  background-color: rgba(112, 201, 184, 0.45);
}

.pagination > .active > a
{
    color: white;
    background-color: #61c2a5 !Important;
    border: solid 1px #4e9c86 !Important;
}

.imageContainer {
   position: relative;
   width: 100%; /* for IE 6 */
}

h6 {
   position: absolute;
   top: 5px;
   left: 5px;
   width: 100%;
   color: gray;
}