{% extends "base.html" %}

{% block title %}Register page{% endblock %}

{% block body %}
<h1 style="text-align:center; color:#2F4F4F">Hi, Stranger.</h1>

<div class="container">
    <form method="POST" style="color:#2F4F4F">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.user_email.label }}
            {{ form.user_email(class_="form-control", placeholder="Enter email", id="exampleFormControlTextarea1") }}
            {{ form.password.label }}
            {{ form.password(class="form-control", id="exampleInputPassword1", placeholder="Password") }}<br>
            {{ form.submit(class_="btn btn-dark") }}
        </div>
    </form>
</div>

{% endblock %}
