<div class="container">
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="container">
            {% for message in get_flashed_messages() %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Wow!</strong> {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        </div>

            <div class="container formcolor shadow-lg rounded-1 px-4 py-2">

                {% if request.endpoint == 'register' %}
                <div class="row">
                    <div class="col-sm">
                        {{ form.name.label }}
                        {{ form.name(class_="form-control", placeholder="Enter your name") }}
                    </div>
                </div>
                {% endif %}

                <div class="row">
                    <div class="col-sm">
                        {{ form.user_email.label }}
                        {{ form.user_email(class_="form-control", placeholder="Enter email") }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm">
                        {{ form.password.label }}
                        {{ form.password(class="form-control", placeholder="Password") }}
                    </div>
                </div>

                {% if request.endpoint == 'login' %}

                <div class="row pt-2 align-items-center justify-content-between">
                    <div class="col-auto">
                        <a href="###" class="btn btn-outline-dark bordergray" style="color: white">Forgot a password?</a>
                    </div>
                    <div class="col-auto">
                        {{ form.submit(class_="btn btn-dark ultradark border-secondary my-2") }}
                    </div>
                </div>

                {% else %}

                <div class="row align-items-end justify-content-between">
                    <div class="col-auto">
                        <label class="control-label" for="date">
                            Birthday:
                        </label>
                        {{ form.birthday_date(class="form-control", id="date", placeholder="Day/Month/Year", type="text", autocomplete="off") }}
                    </div>
                    <div class="col-auto">
                        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                            {% for subfield in form.sex %}

                            {% if subfield.id.endswith('0') %}
                                {{ subfield(class="btn-check", id="btnradio1", autocomplete="off") }}
                                {{ subfield.label(class="btn btn-outline-dark bordergray", for="btnradio1", style="color: white") }}
                            {% endif %}

                            {% if subfield.id.endswith('1') %}
                                {{ subfield(class="btn-check", id="btnradio3", autocomplete="off") }}
                                {{ subfield.label(class="btn btn-outline-dark bordergray", for="btnradio3", style="color: white") }}
                            {% endif %}

                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="row justify-content-end">
                    <div class="col">
                        {{ form.submit(class_="w-100 btn btn-dark ultradark border-secondary mb-2 mt-4") }}
                    </div>
                </div>

                {% endif %}

            </div>
        </div>
    </form>
</div>
