<header class="navbar navbar-expand-lg navbar-dark sticky-top ultradark">
  <div class="container-fluid">
    <a class="navbar-brand" href={{ url_for('index') }}> ArchiGRUP </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href={{ url_for('index') }}>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href=###>Contact Us</a>
        </li>
        {% if g.user == None %}
        <li class="nav-item">
          <a class="nav-link" href={{ url_for('register') }}>Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href={{ url_for('login') }}>Login</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href={{ url_for('add_project') }}>New project order!</a>
        </li>
        {% endif %}
      </ul>

      {% if g.user == None %}
      <span class="navbar-text">
         Made some design
      </span>
      {% else %}
      <span class="navbar-text mx-2">
        Hi, {{ g.user.name }}.
      </span>
      <div class="dropdown">
        <button type="button" class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          My account
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
          <li><a class="dropdown-item" href="{{ url_for('users', user_id=g.user.id) }}">My Profile</a></li>
          <li><a class="dropdown-item" href="{{ url_for('projects') }}">My Projects</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a></li>
        </ul>
      </div>
      {% endif %}
    </div>
  </div>
</header>